body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    /* background: rgb(54, 54, 54); */
    background: #0a2351;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}
.heading{
    /* justify-content: center; */
    text-align: center;
    font-size: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background: linear-gradient(to bottom ,black, #0a2351);
}
img{
    margin-top: 10px;
}
.institute{
    font-size: 40px;
}

span{
    margin-top: 5px;
    align-self: center;
}
.content{
    background: rgb(64, 63, 63);
    width: 70vw;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    min-height: 50vh;
    align-self: center;
    border-radius: 10px;
    overflow: hidden;
    padding: 20px;
}
.textarea{
    height: 100px;
    width: 300px;
    margin-top: 20px;
}
input{
    height: 25px;
}
button{
    height: 30px;
    font-size: 15px;
    padding: 5px;

}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.flex a{
    text-decoration: none;
    color: antiquewhite;
}
.flex a:hover{
    color: yellow;
}
button:hover{
    background: #000;
    color: aqua;
    transition: all ease 0.4s;   

}
input:focus{
    background: #000;
    color: antiquewhite;
}
.border{
    border: #000 1px solid;
}
.inputs{
    width: 50%;
    min-height: 40vh;
    margin: 5px;
    padding: 20px;
}
.outputs{
    width: 50%;
    min-height: 40vh;
    padding: 10px;
    background: rgb(146, 145, 145);
    border-radius: 10px;
    color: #000;
}
